@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/*Header*/
header {
    background: #0a0a0a;
    font-family: 'Montserrat', sans-serif;
    color: #07db1f;
}

h1 {
    text-align: center;
    padding: 30px;
    font-size: 18pt;
}

hr {
    border: 2px solid #07db1f;
}

/*Body*/
body {
    background: #504e4e;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

ul li {
    display: inline;
    padding: 5px;
}

select {
    width: 80px;
    background: rgb(23, 23, 26);
    color: white;
    border-color: #07db1f;
}

p {
    padding: 3px;
}

#pfa { /*Deixa classe e FA lado a lado*/
    margin-left: 30px;
    margin-top: 10px;
}

input {
    background: #e2deded8;
    border: 3px solid #363535;
    text-align: center;
}

.btn {
    width: 100px;
    height: 21px;
    background: #07db1f;
    border: 1px solid #07db1f;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;   
    cursor: pointer;
    box-sizing: border-box;
}

.btn:hover {
    background: #14e62c69;
}

#btnCalc {
    margin: 20px auto 30px;
    width: 200px;
    height: 40px;
    border-radius: 800px;
    background-image: linear-gradient(#04a317, #39e74d, #65f676);
}

#btnCalc:hover {
    background: #14e62c69;
}

#showResult {
    margin: auto;
    color: white;
    text-align: left;
    margin-bottom: 60px;
    max-width: 700px;
}

#showResult h2 {
    margin: 20px 0;
}

.labels {
    font-size: 15px;
    text-align: center;
    text-decoration-line: underline;
}

option {
    border: 1px solid rgba(48, 47, 47, 0.801);
}

#helpers {
    position: absolute;
    left: 0;
    width: 150px;
    height: 25px;
    margin-left: 20px;
    margin-top: 10px;
}

#help {
    width: 300px;
    background: white;
    color: black;
    padding: 10px;
    margin-left: 128px;
    border-top-left-radius: 5px;
    margin-bottom: 30px;
    text-align: justify;
    position: absolute;
    opacity: 0;
}

/*Footer*/
footer {
    background: #0a0a0a;
    position: absolute;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 20px;    
}


